@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>ReservaCitas</h1>
    <p class="lead">
        Sistema web para el registro y consulta de citas o reservas.
    </p>

    <p>
        <a href="@Url.Action("Create", "Citas")" class="btn btn-primary btn-lg">
            Registrar cita
        </a>

        <a href="@Url.Action("Index", "Citas")" class="btn btn-default btn-lg">
            Ver citas
        </a>
    </p>
</div>